


.low
{
  
background-color: lightgreen;
 
 width: 150px;
 
 height: 60px;
  
margin-left: 43%;
 
 margin-bottom: 35px;

}


.center
{
    
text-align: center;
     
5px;

}

.test
{
   
 text-align: center;

}

.btn_1
{
   
 margin-top: 10px;

}


